﻿@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password Confirmation</h1>

<h4>
    Your password is reset. Please click <a asp-action="Login">here to login</a>
</h4>

