﻿@model EmployeeEditViewModel
@{
    ViewBag.Title = "Edit Employee";
    var photoPath = string.Format("~/images/{0}", (Model.ExistingPhotoPath ?? "noimage.png"));

}

<form enctype="multipart/form-data" class="mt-3" asp-controller="Home" asp-action="Edit" method="post">

    <input hidden asp-for="ID" />
    <input hidden asp-for="ExistingPhotoPath" />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Department"
                    asp-items="Html.GetEnumSelectList<Dept>()"
                    class="custom-select mr-sm-2">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Photos" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input multiple asp-for="Photos" class="form-control custom-file-input" />
                <label class="custom-file-label">Click here to change photo...</label>
            </div>
        </div>
    </div>


    <div class="form-group row col-sm-4 offset-4"><img src="@photoPath" asp-append-version="true" /></div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel </a>
        </div>
    </div>

    @section Scripts {

        <script>
            $(document).ready(function () {
                $('.custom-file-input').on('change', function () {
                    console.log($(this));

                    fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html(files.length + ' files selected');
                    }
                    else {
                        fileLabel.html(files[0].name);
                    }

                    //var fileName = $(this).val().split("\\").pop();
                    //$(this).next('.custom-file-label').html(fileName);
                });

            });
        </script>
    }

</form>
