﻿@model int

@{ 
    ViewBag.Title = "404 Not Found";

}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error</h4>
    <hr />
    <h5>
        Employee @Model cannot be found
    </h5>
</div>
<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width: auto;">Click here to see the list of employes</a>