﻿@model IEnumerable<EmployeeManagement.Models.Employee>

@{
    ViewBag.Title = "Index";
}


<div class="card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = string.Format("~/images/{0}", (employee.PhotoPath ?? "noimage.png"));
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top imgThumb" src="@photoPath" asp-append-version="true"/>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.EncryptedId" class="btn btn-primary m-1">View</a>
                @*<a href="@Url.Action("details", "home", new { id = employee.Id })" class="btn btn-primary">View</a>*@

                <a asp-controller="home" asp-action="edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div> 
        </div>
    }

</div>  