﻿@{ 
    ViewBag.Title = "NotFound";
}

    <h1>@ViewBag.ErrorMessage</h1>
    @*<h1>@ViewBag.Path</h1>
    <h1>@ViewBag.QueryString</h1>*@

    <a asp-action="index" asp-controller="home">
        Click here to navigate to the home page
    </a>