﻿
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h1 class="text-danger">Access Denied</h1>
        <h6 class="text-danger">
            This is THE access denied page!
            You do not have persmission to view this resource
        </h6>
        <img src="~/images/noaccess.jpeg" style="height:300px; width:300px" />
    </div>